<p>Hello <%= @pod.user.full_name %>,</p>

<p><%= @user.full_name.capitalize %> has just commented your post titled: <%= @pod.title %>.</p>

<p>Click <%= link_to "here", root_path %> to view your post.</p>

<p>Regards,</p>

<p>Eric's awesome blog! </p>
