// Place all the styles related to the pods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search {
  float: right;
  padding-bottom: 6px;
  padding-right: 10px;
}

.right {
  float: right;
}
